<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Event's Information - Web Calendar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
</head>
<body>
	<div class="main_head">
		<p>Return to main page:  <button class="header_button" onclick="window.location.href = '/'" style="font-family: Cinzel;">Main Page</button></p>
	</div>
	<div class="event_info">
		<h1>Information about the event:</h1>
		<p>Name = {{ event.event }}, date = {{ event.date }}</p>
	</div>
	<div style="text-align: center; padding: 30px;">
		<button class="header_button" style="font-size: 30px; height: 70px; width: 300px; font-family: Cinzel" onclick="document.getElementById('id01').style.display='block'" style="font-family: Cinzel; text-align: center;">Delete Event</button>
	</div>
	<div id="id01" class="delete-form">
		<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Smth">&times;</span>
		<form class="delete-content">
			<div class="delete-header">
				<h1>Delete Event</h1>
			</div>
			<div class="delete-body">
				<p>Are you sure you want to delete this event?</p>
			</div>
			<div class="delete-footer">
				<button type="button" class="header_button" style="font-size: 35px; height: 70px; width: 300px; font-family: Cinzel" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
				<button type="button" class="header_button" style="font-size: 35px; height: 70px; width: 300px; font-family: Cinzel" onclick="Delete('{{ event.id }}')">Delete</button>
				<script src="{{ url_for('static',filename='js/delete.js') }}"></script>
			</div>
		</form>
	</div>
	<div class="footer">
		<p>2022 © All Rights Reserved</p>
		<p>Web Calendar free software distribution created by Aleksey Krazhevskiy</p>
	</div>
</body>
</html>
