<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Event's Information - Web Calendar</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
	<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
</head>
<body>
	<div class="main_head">
		<p>Return to main page:  <button class="header_button" onclick="window.location.href = '/'" style="font-family: Cinzel;">Main Page</button></p>
	</div>
	<div class="event_info">
		<h1>Information about the event:</h1>
		<p>Name = {{ event.event }}, date = {{ event.date }}</p>
	</div>
	<div class="footer">
			<p>2022 © All Rights Reserved</p>
			<p>Web Calendar free software distribution created by Aleksey Krazhevskiy</p>
	</div>
</body>
</html>
